$secondary-bgc: #F7F8FA;
$common-page-padding: 16px;
$icon-bgc: #fdfdfd;
$separator-color: #ebecf0;

input {
    font-size: 14px !important;
}


.van-field__label {
    display: flex;
    align-items: start;
    justify-content: start;
}

// fix van field validation bug
.van-field__control {
    color: #323233 !important;
}
.van-field__control:disabled {
    color: #c8c9cc !important;
}

.van-field__control::placeholder {
    color: #c8c9cc !important;
}
// fix van field validation bug

body {
    background-color: $secondary-bgc;
}

.page {
    box-sizing: border-box;
    padding: $common-page-padding;
    background-color: $secondary-bgc;
    height: 100%;
}

.action-sheet-title {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-group {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 16px;
}

.action-sheet-body {
    padding: $common-page-padding;
    padding-top: 58px;
    box-sizing: border-box;

    background-color: $secondary-bgc;
    height: 100%;
}

.modal-title {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding: 18px;
}

.cells-block-title {
    padding: 16px 16px 8px;
    color: #969799;
    font-size: 14px;
    line-height: 16px;
}

.record-row {
    display: flex;
    padding: 10px 16px;
    border-bottom: 1px solid #f5f5f5;
    background-color: white;

    .left {
        justify-content: space-between;
        flex-basis: 0;
        flex-grow: 5;
    }

    .right {
        flex-basis: 0;
        flex-grow: 1;
    }
}

